html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: "Karla";
  font-size:16px;
  font-weight:400;
}

.card{
  width:600px;
  height:450px;
  margin:5px;
  box-shadow:2px 2px 5px 0px rgba(0,0,0,0.75);
  border-radius:5px;
  overflow: hidden;
}

#top{
  width:100%;
  height:45%;
  padding:25px;
}


#bottom{
  width:100%;
  height:55%;
  color:white;
}

#bottomLeft{
  display: inline-block;
  width:50%;
  height:100%;
  vertical-align: top;
  background-color:#2ab2af;
  padding:25px;
}
#bottomLeft p{
  margin:13px;
  font-size: 13px;
  margin-bottom: 35px;
}

#bottomRight{
  display: inline-block;
  width:50%;
  height:100%;
  vertical-align: top;
  background-color:#72E0DE;
  padding:30px;
}

#bottomRight ul {
  list-style-type:none;
  padding:0px;
}

#bottomRight li {
  font-size:14px;
  opacity:;
}

h4, h2, p{
  margin:0;
}

#headerText{
  color:#2ab2af;
  margin:15px;
}

#clrYellow{
  color:#c0df34;
  margin:15px;
}

#clrYellowbgd{
  background-color:#c0df34;
  color:white;
  border: none;
  padding: 10px;
  border-radius:5px;
  width:100%;
  height: 25%
}
#clrYellowbgd:hover{
  cursor:pointer;
  transform:scale(1.02);
}
#top p{
  color:#98a6bd;
  margin:15px;
}

#money{
  display: inline-block;
  font-weight: 700;
  font-size:35px;
}
#monthly{
  margin:10px
}

#month{
  font-size: 15px;
  margin-left:10px;
  opacity:0.5
}

#month, #monthly{
  display:inline-block;
}

